.contact-container {
  width: 100%;
  height: 100vw;
  padding: 20px;
  background-color: #fcd7cb;
  margin: 60px auto 0;
}

.btnContact {
  padding: 5px 8px;
}

.btnContact:hover {
  opacity: 0.7;  
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
}

.form {
  margin: 60px 20px 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  background-color: white;
  color: black;
  border-radius: 8px;
}

.textInput {
  height: 100px;
}

.form-btn {
  border-radius: 10px;
}

.form-btn:hover {
  opacity: 0.9;
}