.project-gallery-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fcd7cb;
  margin: 60px auto 0;
}

h1 {
  margin-top: 30px !important;
  margin-bottom: 45px !important;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 450px); 
  justify-content: center;
  grid-gap: 30px; 
  margin: 0 auto;
  padding: 0;
}

.cardProjects {
  width: 400px !important;
  background-color: #d89984 !important;
}

.image-container {
  height: 250px;
  overflow: hidden; 
  padding-top: 10px;
}

.image-container img {
  width: auto; 
  height: 100%; 
  display: block;
  margin: 0 auto; 
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.card-text{
  text-align: justify;
}

.btnGallery {
  margin: 10px !important;
  color: black !important;
  background-color: #fab39b !important;
  border: #fcd7cb solid 2px !important;
}

.btnGallery:hover {
  background-color: #d2b1a5 !important;
}


